h2.projectTitle {
  color: var(--ifm-color-primary);
  font-size: 300%;

  p.projectSubtitle {
    font-weight: 400;
    font-size: 50%;
    line-height: 1em;
    margin: 0.7em 0 1.3em;
    white-space: pre;
  }

  ul.iconList {
    list-style: none;
    text-align: center;
    color: var(--ifm-color-primary-dark);
    font-size: 14px;

    li {
      display: inline;
      margin-right: 8px;

      &:before {
        content: '✓ ';
      }
    }
  }
}

.hero .container {
  position: relative;
}

.promoSection {
  font-size: 125%;
  position: relative;
}

.headerButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.headerButtons a {
  margin: 2px 3px;
  background: white;
}

.headerButtons a:hover {
  color: white;
  background: var(--ifm-color-primary);
}

.separator:after {
  display: flex;
  content: '|';
  padding: 0 10px;
  align-items: center;
  height: 100%;
}
