.navbar-sidebar {
  .menu {
    overflow-y: hidden;
    .menu__list {
      li.menu__list-item {
        a.menu__link {
          font-size: 4.5em;
          line-height: 1.2em;
          padding: 0;

          &:hover {
            background-color: var(--ifm-color-primary-lightest);
          }
        }
      }
    }
  }
}
