.result {
    opacity: 0.8;
    transition: opacity 0.2s;
    margin-bottom: var(--ifm-leading);
    font-size: var(--ifm-code-font-size);
}

.result:before {
    content: url("/img/fas/terminal.svg");
    width: 20px;
    height: 20px;
    display: block;
    opacity: 0.25;
    margin: 0 0 3px 7px;
}

.result:hover {
    opacity: 1;
}
