.autumnDino {
  position: relative;
  width: 200px;
  height: 200px;

  .subContainer {
    width: 200px;
    height: 200px;
    top: -25px;
    left: 50px;
    position: absolute;
    transform: rotate(35deg);
    z-index: 2;

    .leaf {
      height: 50px;
      position: absolute;
      top: 80px;
      z-index: 3;

      @for $i from 1 through 40 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 1.5}s;
        }
      }
    }
  }

  .tRegx {
    position: relative;
  }
}

.animation {
  animation-fill-mode: both;
}

.slowFall {
  animation-iteration-count: infinite, infinite;
  animation-duration: 5s, 1.1s;
  animation-name: fall, left-right;
  animation-direction: normal, alternate;
  animation-timing-function: linear, ease-in-out;

  &:nth-child(even) {
    animation-duration: 5s, 1.4s;
  }

  &.reversed {
    animation-duration: 5s, 1.7s;
    animation-direction: normal, alternate;
    animation-name: fall, right-left;
  }

  @keyframes fall {
    0% {
      top: 0;
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      top: 300px;
      opacity: 0;
    }
  }

  @keyframes left-right {
    from {
      left: 80px;
      transform: rotate(-120deg);
    }
    to {
      left: -30px;
      transform: rotate(-80deg);
    }
  }

  @keyframes right-left {
    from {
      left: 90px;
      transform: rotate(-170deg);
    }
    to {
      left: -40px;
      transform: rotate(-110deg);
    }
  }
}

.blowFall {
  animation: blowFall 4.5s ease-in-out both;

  @keyframes blowFall {
    0%, 25% {
      top: 0;
      left: 20px;
      transform: rotate(150deg);
    }
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      left: 170px;
      transform: rotate(70deg);
    }
    75% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: rotate(15deg);
      top: 280px;
      left: -25px;
    }
  }
}

.simpleFall {
  animation: simpleFall 12.2s infinite normal both;

  @keyframes simpleFall {
    from {
      top: 0;
      left: 40px;
      opacity: 0;
      transform: rotate(0deg);
    }
    5%, 25% {
      opacity: 1;
    }
    30%, to {
      top: 260px;
      left: -40px;
      opacity: 0;
      transform: rotate(-40deg);
    }
  }
}

.rotateFall {
  animation: rotateFall 23s infinite both;

  @keyframes rotateFall {
    from {
      top: 0;
      left: 40px;
      opacity: 0;
      transform: rotate(0deg);
    }
    4%, 8% {
      opacity: 1;
    }
    14%, to {
      top: 280px;
      left: -30px;
      opacity: 0;
      transform: rotate(440deg);
    }
  }
}

.slideFall {
  animation: slide 43s infinite both;

  @keyframes slide {
    from {
      top: 0;
      left: -40px;
      opacity: 0;
      transform: rotate(0deg);
    }
    1%, 4% {
      opacity: 1;
    }
    5%, to {
      top: 230px;
      left: 140px;
      opacity: 0;
      transform: rotate(-60deg);
    }
  }
}
