<phpunit>
    <filter>
        <whitelist>
            <directory suffix=".php">./dependencies/rawr/t-regx/src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="website/build/t-regx.github.io/coverage" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
