.post article {
  .tabs {
    border-top: none;

    .nav-tabs {
      .nav-link {
        margin-right: 0;

        &.active {
          background-color: #dcf2f8;
        }

        &:hover:not(.active) {
          background: #eef9fc;
        }
      }
    }

    pre code.hljs,
    + pre code.hljs {
      box-shadow: #acacac 3px 3px 11px -5px;
    }

    + pre {
      &:before {
        content: url("/img/fas/terminal.svg");
        width: 20px;
        height: 20px;
        display: block;
        opacity: .15;;
        margin: 0 0 3px 7px;
      }

      code.hljs {
        padding: 0.3rem 0.5rem .25rem;
        opacity: .6;
        transition: opacity .2s;
      }

      &:hover code.hljs {
        opacity: 1.0;
      }
    }
  }
}

blockquote {
  p {
    code {
      white-space: nowrap;
    }
  }
}
