.post article {
  .tabs {
    border-top: none;

    .nav-tabs {
      .nav-link {
        margin-right: 0;

        &.active {
          background-color: #dcf2f8;
        }

        &:hover:not(.active) {
          background: #eef9fc;
        }
      }
    }
  }
}

blockquote {
  p {
    code {
      white-space: nowrap;
    }
  }
}
