@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
    input.aa-input#search_input_react {
        width: 300px;
        line-height: 29px;
    }
}

@media only screen and (min-width: 1400px) {
    input.aa-input#search_input_react {
        width: 300px;
        line-height: 29px;
    }
}

@media only screen and (min-width: 1500px) {
    input.aa-input#search_input_react {
        width: 300px;
        line-height: 29px;
    }
}
