table.comparison-table {
  margin-top: 55px;
  margin-bottom: 75px;

  sup {
    font-size: 0.8em;
    opacity: 0.65;
    display: block;
  }

  ul {
    padding-left: 1.2em;
    margin-bottom: 3px;
  }

  thead {
    tr {
      border-top: none;

      th {
        text-align: center;

        &:first-of-type {
          border: none;
          background-color: white;
        }
      }

      &.logo-row {
        th {
          padding: 13px;
          vertical-align: middle;

          img {
            margin: 0 auto;
            display: block;
            max-width: 110px;
          }
        }
      }
    }
  }

  tbody {
    tr {
      td {
        vertical-align: middle;
        padding: 9px 16px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
