footer.nav-footer {
  .sitemap .nav-home {
    opacity: 0.6;
  }
}

.footer {
  margin-top: 50px;
  background: url('/img/footer.background.jpg') fixed;
  background-size: cover;
}

.footer__logo {
  width: 52px;
}
