footer.nav-footer {
  .sitemap .nav-home {
    opacity: 0.6;
  }

  .discussion-section {
    #disqus_thread {
      a {
        color: #288ce4;;
      }

      iframe {
        padding: 15px;
        background-color: white;
        border-radius: 15px;
        margin-top: 20px;
      }
    }
  }
}

.footer {
  margin-top: 50px;
  background: url('/img/footer.background.jpg') fixed;
  background-size: cover;
}

.footer__logo {
  width: 52px;
}
