:root {
  --ifm-color-primary: #4584c5;
  --ifm-color-primary-dark: #0858b3;
  --ifm-color-primary-darker: #234268;
  --ifm-color-primary-darkest: #1b3552;
  --ifm-color-primary-light: #7ab0f5;
  --ifm-color-primary-lighter: #8abbfa;
  --ifm-color-primary-lightest: #b5d4fd;
  --ifm-background-color: var(--ifm-color-white);
  --ifm-footer-background-color: #262c35;
  --ifm-code-background: rgba(27, 31, 35, 0.05);
  --ifm-code-padding-horizontal: 0.16rem;
  --ifm-code-border-radius: 0.2rem;
  --ifm-font-size-base: 16px;
  --ifm-font-weight-bold: 600;
  --ifm-code-font-size: 13px;
  --ifm-navbar-shadow: none;

  --ifm-paragraph-margin-top: 1rem;
  --ifm-paragraph-margin-bottom: 1rem;

  --ifm-spacing-horizontal-sm: 0.5rem;
}

html[data-theme='dark']:root {
  --ifm-code-background: #313131;
}

h2, h3 {
  > code, a > code {
    font-size: inherit;
  }
}

.hero .container {
  position: relative;
}

p {
  margin-top: var(--ifm-paragraph-margin-top);
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}
