@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 1023px) {
  .section.promoSection {
    .separator {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .section.promoSection {
    .separator:after {
      display: block;
      content: '|';
      padding: 0 10px;
    }
  }

  input.aa-input#search_input_react {
    width: 300px;
    line-height: 29px;
  }

  footer {
    margin-top: 50px;
  }

  .fixedHeaderContainer {
    background-color: white;
    color: #26768c;

    h2 {
      color: #26768c;
    }

    .navigationSlider .slidingNav ul {
      li {
        a {
          background-color: white;
          color: #26768c;

          &:hover {
            background-color: white;
            text-decoration: underline;
          }
        }

        &.siteNavItemActive {
          a {
            background-color: #68b5c7;
            color: white;
            border-radius: 12px;
          }
        }

        &.navSearchWrapper {
          margin-right: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

footer.nav-footer {
  background: url("/img/footer.background.jpg") fixed;
  background-size: cover;
}
