div.matrixBackground {
  background-image: url("/img/blue-matrix-wide.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  div.post {
    display: flex;

    blockquote {
      display: flex;
      align-items: flex-start;

      @media (max-width: 600px) {
        & {
          flex-direction: column;
          align-items: center;
        }
      }

      img {

      }

      div {
        margin-left: 25px;

        p {
          font-size: 1.4em;
        }
      }
    }
  }

  div.youtube {
    margin-bottom: 30px;

    @media (max-width: 600px) {
      display: none;
    }
  }

  div.commentsBackground {
    background-color: white;
  }
}
