@media only screen and (min-width: 1200px) {
  .projectLogo {
    position: absolute;
    right: 70px;
    top: -25px;
  }

  .projectLogo img {
    height: 100%;
    max-height: 250px;
  }
}
@media only screen and (max-width: 1199px) {
  .projectLogo {
    margin: 0 auto;
  }
}
